<!--Perfil usuario-->

<div class="card" style="width: 18rem;">
  <img src="{{{imagen}}}" class="card-img-top" alt="">
  <div class="card-body">
    <h5 class="card-title">{{{perfil.username}}}Nombre usuario</h5>
   <p class="card-text">{{{perfil.email}}}</p>
    <a href="/logout" class="btn btn-dark btn-sm">Cerrar sesión</a>
  </div>
</div>